*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 80%;
  max-width: 1340px;
  margin: 0 auto;
}

ul li{
  display: inline-block;
  list-style: none;
  padding-right: 5px;
}

a{
  color: white;
  text-decoration: none;
}

/* Header */
header{
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #FF6900;
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 8px 1px black;
}

header .container{
  height: 70px;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo img{
  width: 150px;
}

header .container .icons a{
  padding: 0 2px;
  color: white;
}
/* ----------- */

/* Main */

main{
  padding-top: 70px;
}

main .row{
  margin-top: 50px;
  text-align: center;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px; */
}

main .row .scheda{
  margin-bottom: 50px;
  width: fit-content;
  display: inline-block;
  padding: 0 5px;
}

main .row .scheda .photo{
  position: relative;
}

main .row .scheda .photo .main-version{
  position: absolute;
  left: 0;
  top: 0;
}

.fav{
  background-color: white;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 1.2rem;
}

main .row .scheda .photo .fav{
  position: absolute;
  top: 10px;
  right: 0;
}

.tag{
  display: inline-block;
  height: 26px;
  text-align: center;
  line-height: 26px;
  padding: 0 10px;
  color: white;
  font-weight: bold;
}

.tag.discount{
  background-color: red;
}

.tag.eco{
  background-color: green;
}

main .row .scheda .photo .tag-box{
  position: absolute;
  bottom: 42px;
  left: 0;
}

main .row .scheda .photo img{
  max-height: 625px;
}

main .row .scheda .photo:hover .main-version{
  display: none;
}

main .row .scheda .text{
  text-align: left;
}

main .row .scheda .text span:first-of-type{
  font-size: 0.8rem;
}

main .row .scheda .text h4{
  text-transform: uppercase;
}

main .row .scheda .text .price{
  font-size: 0.9rem;
}

.price.new{
  color: red;
  font-weight: bold;
}

.price.old{
  text-decoration: line-through;
}

/* Footer */
footer{
  background-color: #1A1A1A;
  color: white;
}

footer .container{
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

footer .icons, footer nav{
  margin-top: 10px;
}

footer .icons{
  font-size: 22px;
}

footer .container span{
  font-weight: bold;
}

footer .footer-social span, footer .footer-left nav{
  font-size: 0.8rem;
}


